body{
    margin: 0%;
    border: 0%;
	background-color:#dedbff;
}
nav{
    width: 100%;
    height: 70px;
    background-color:blue;
    display: flex;
    align-items: center;
}
.navimg{
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
    border: 3px solid white;
}
.navheading1{
    margin-left: 20px;
    font-size: 30px;
	color:white;
}
.navcontent{
    margin-left: 60%;
}
nav a img{
	margin-left:7px;
    filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(154deg) brightness(106%) contrast(100%);
}
.card1main{
	display:flex;
	justify-content:center;
	margin-top:150px;
}
.card1child{
	width:30%;
	height:300px;
}
.card1img1{
	width:300px;
	border-radius:50%;
	border:15px solid blue;
}
.card1span2{
	color:blue;
}
.card1heading1{
	color:blue;
}
.card1button1{
	width:120px;
	height:40px;
	border-radius:20px;
	background-color:blue;
	color:white;
	border:none;
	cursor:pointer;
}
.card1button2{
	width:120px;
	height:40px;
	border-radius:20px;
	margin-left:10px;
	border:2px solid blue;
	color:blue;
	cursor:pointer;
}
.card1button2:hover{
	background-color:blue;
	color:white;
	cursor:pointer;
}
#child2{
	padding-top:40px;
}