*{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
    margin: 0%;
    border: 0%;
	background-color:#f0d8a8;
}
nav{
    width: 100%;
    height: 70px;
    background-color:#db9200;
    display: flex;
    align-items: center;
}
.navimg{
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
    border: 3px solid white;
}
.navheading1{
    margin-left: 20px;
    font-size: 30px;
	color:white;
}
.navcontent{
    margin-left: 60%;
}
nav a img{
	margin-left:7px;
    filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(154deg) brightness(106%) contrast(100%);
}
.card1main{
	display:flex;
	justify-content:center;
	margin-top:150px;
}
.card1child{
	width:30%;
	height:300px;
}
.card1img1{
	width:300px;
	border-radius:50%;
	border:15px solid #db9200;
    outline: 10px solid white;
    outline-offset: -20px;
}
.card1img1:hover{
	box-shadow:0px 0px 10px black;
}
.card1span2{
	color:#db9200;
}
.card1heading1{
	color:#db9200;
}
.card1button1{
	width:120px;
	height:40px;
	border-radius:20px;
	background-color:#db9200;
	color:white;
	border:none;
	cursor:pointer;
}
.card1button1:hover{
	box-shadow:0px 0px 5px black;
}
.card1button2{
	width:120px;
	height:40px;
	border-radius:20px;
	margin-left:10px;
	border:2px solid #db9200;
	color:#db9200;
	cursor:pointer;
}
.card1button2:hover{
	background-color:#db9200;
	color:white;
	cursor:pointer;
	box-shadow:0px 0px 5px black;
}
#child2{
	padding-top:40px;
}
.card2main{
	width:100%;
	height:700px;
	display:flex;
	justify-content:space-around;
	align-items:center;
}
.card2child{
	width:350px;
	height:400px;
	background-color:#db9200;
	border-radius:20px;
	color:white
}
.card2child:hover{
	box-shadow:0px 0px 15px black;
}
.card2img{
	width:300px;
	height:180px;
	margin-top:15px;
}
.card3main{
	width:100%;
	height:400px;
	display:flex;
	justify-content:space-around;
	align-items:center;
	margin-bottom:150px;
}
.card3child{
	width:350px;
	height:400px;
	background-color:#db9200;
	border-radius:20px;
	color:white;
}
.cardpara:hover{
	color:black;
}
.card3child:hover{
	box-shadow:0px 0px 15px black;
}
.card3img{
	width:300px;
	height:180px;
	margin-top:15px;
}
.aboutmemain{
	width:100%;
	height:400px;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	border-top:10px solid black;
}
.aboutmechild{
	width:400px;
	text-align:justify;
	margin-top:250px;
}
.aboutmemypicture{
	width:400px;
	border-radius:20px;
}
.aboutmeheading{
	color:#db9200;
}
.card2heading{
	position:absolute;
	padding-left:39%;
	margin-top:70px;
	font-size:40px;
}
.contactmemain{
	width:100%;
	height:900px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top:100px;
}
.contactmechild1{
	width:500px;
	height:500px;
	background-color:#db9200;
	border-top-left-radius:50px;
	border-bottom-left-radius:50px;
}
.contactmechild2{
	width:500px;
	height:500px;
	background-color:#db9200;
	border-top-right-radius:50px;
	border-bottom-right-radius:50px;
}
.contactmeimage1{
	width:200px;
	border-radius:50%;
	border:5px solid white;
	box-shadow:0px 0px 10px black;
}




.footermain{
	width:100%;
	height:500px;
	background-color:black;
}